server:
  address:     ":8000"
  openapiPath: "/api.json"
  swaggerPath: "/swagger"

logger:
  level : "all"
  stdout: true
  path:   "logs"

redis:
  default:
    address: "127.0.0.1:6379"

openai:
  baseUrl: ""
  apiKey: ""
  model: "gpt-3.5-turbo"

email:
  host: "smtp.qq.com"
  port: 587
  from: ""
  to: ""
  password: ""